<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd"
                           default-autowire="byType">


    
    <!--扫描com.woomoon 包-->
    <context:component-scan base-package="com.woomoon">
        <!--排除controller 这个包 -->
        <context:exclude-filter type="regex" expression="com.woomoon.controller.*"/>
    </context:component-scan>


    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="configLocations" value="classpath:hibernate.cfg.xml"></property>
    </bean>


    <!-- 让spring支持aspectj autoproxy[自动代理]
    让spring 强制使用cjlib(proxy-target-class="true" )
    jdk 动态代理与
    cjlib  效率更高
    <aop:aspectj-autoproxy proxy-target-class="true" />
    -->

    <!--引入db.properties
    <context:property-placeholder location="classpath:db.properties" />

    配置数据源 配置数据库连接池C3P0
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="user" value="${uname}" />
        <property name="password" value="${upwd}" />
        <property name="jdbcUrl" value="${url}" />
        <property name="driverClass" value="${driverClass}" />

        <property name="initialPoolSize" value="${initPoolSize}" />
        <property name="maxPoolSize" value="${maxPoolSize}" />
    </bean>

    配置jdbctemplate
    <bean id="template" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
        <constructor-arg name="dataSource" ref="dataSource" />
    </bean>
    -->

</beans>
